body {
    background-image: url(https://wwws.alfafinanciamentos.com.br/Portal/imagens/default/fundo_login.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}